<ion-header>
  <ion-navbar>
    <ion-title>Sessiondetails</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="archiveSession()">
        <ion-icon name="archive"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2>{{session.name}}</h2>
  <ion-row text-wrap text-wrap>
    <ion-col [ngClass]="{'selected': player1selected==true}">
      <ion-avatar (click)="selectPlayer1()">
        <img [src]="session.player1picture">
      </ion-avatar>
      <p text-center><b>{{session.player1name}}: {{player1points}}</b></p>
    </ion-col>
    <ion-col [ngClass]="{'selected': player2selected==true}">
      <ion-avatar (click)="selectPlayer2()">
        <img [src]="session.player2picture">
      </ion-avatar>
      <p text-center><b>{{session.player2name}}: {{player2points}}</b></p>
    </ion-col>
    <ion-col [ngClass]="{'selected': player3selected==true}">
      <ion-avatar (click)="selectPlayer3()">
        <img [src]="session.player3picture">
      </ion-avatar>
      <p text-center><b>{{session.player3name}}: {{player3points}}</b></p>
    </ion-col>
    <ion-col  *ngIf="session.player4id" [ngClass]="{'selected': player4selected==true}">
      <ion-avatar (click)="selectPlayer4()">
        <img [src]="session.player4picture">
      </ion-avatar>
      <p text-center><b>{{session.player4name}}: {{player4points}}</b></p>
    </ion-col>
  </ion-row>
  <ion-row text-wrap>
    <ion-col *ngFor="let chosengame of games" [ngClass]="{'selected': chosengame.selected==true}">
      <ion-avatar (click)="selectGame(chosengame.id)">
        <img [src]="chosengame.img">
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row text-wrap *ngIf="game.gameid < 6">
    <ion-col *ngFor="let jack of this.jacks" col-3
             [ngClass]="{'selected': (jack.selected && game.mit) || (!jack.selected && !game.mit),
             'unselected': (jack.selected && !game.mit) || (!jack.selected && game.mit)}">
      <ion-avatar (click)="selectJack(jack.id)">
        <img [src]="jack.img">
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-item *ngIf="game.gameid != 7">
    <ion-checkbox [(ngModel)]="game.hand" (ionChange)="calculatePoints()"></ion-checkbox>
    <ion-label>Hand gespielt</ion-label>
  </ion-item>
  <ion-item *ngIf="game.gameid < 6">
    <ion-checkbox [(ngModel)]="game.schneider" (ionChange)="calculatePoints()"></ion-checkbox>
    <ion-label>Schneider</ion-label>
  </ion-item>
  <ion-item *ngIf="game.hand && game.gameid < 6">
    <ion-checkbox [(ngModel)]="game.schneiderangesagt" (ionChange)="calculatePoints()"></ion-checkbox>
    <ion-label>Schneider angesagt</ion-label>
  </ion-item>
  <ion-item *ngIf="game.gameid < 6">
    <ion-checkbox [(ngModel)]="game.schwarz" (ionChange)="calculatePoints()"></ion-checkbox>
    <ion-label>Schwarz</ion-label>
  </ion-item>
  <ion-item *ngIf="game.hand && game.gameid < 6">
    <ion-checkbox [(ngModel)]="game.schwarzangesagt" (ionChange)="calculatePoints()"></ion-checkbox>
    <ion-label>Schwarz angesagt</ion-label>
  </ion-item>
  <ion-item *ngIf="game.hand || game.gameid == 6">
    <ion-checkbox [(ngModel)]="game.offen" (ionChange)="calculatePoints()"></ion-checkbox>
    <ion-label>Offen</ion-label>
  </ion-item>
  <ion-item *ngIf="game.gameid == 7" text-wrap>
    <ion-label stacked>Negativpunkte</ion-label>
    <ion-input type="text" [(ngModel)]="game.points"></ion-input>
  </ion-item>
  <ion-item *ngIf="game.gameid < 7">
    <ion-checkbox [(ngModel)]="game.lost" (ionChange)="calculatePoints()"></ion-checkbox>
    <ion-label>Verloren</ion-label>
  </ion-item>
  <ion-item *ngIf="game.gameid < 6" text-wrap>
    <h2>Grundwert: {{game.value}}, Multiplikator: <b>{{game.multiplier}}</b>, Punkte: <b>{{game.points}}</b></h2>
  </ion-item>
  <ion-item *ngIf="game.gameid > 5" text-wrap>
    <h2>Punkte: <b>{{game.points}}</b></h2>
  </ion-item>
  <button ion-button full color="secondary" (click)="saveGame()"
          [disabled]="!game.playerid || !game.gameid || (game.gameid < 6 && !game.buben)">
    Speichern
  </button>
  <button ion-button full color="primary" *ngIf="!showpastgames" (click)="showPastGames()">Spiele anzeigen ({{gamescounter}})</button>
  <button ion-button full color="danger" *ngIf="showpastgames" (click)="showPastGames()">Spiele verbergen ({{gamescounter}})</button>
  <ion-list *ngIf="this.showpastgames">
    <ion-item *ngFor="let pastgame of this.pastgames" text-wrap>
      <ion-thumbnail item-start>
        <img [src]="pastgame.img">
      </ion-thumbnail>
      <h2><b>{{pastgame.game}}: {{pastgame.points}}</b></h2>
      <p>
        <b *ngIf="pastgame.gameid<6 && pastgame.mit">mit {{pastgame.buben}},</b>
        <b *ngIf="pastgame.gameid<6 && !pastgame.mit">ohne {{pastgame.buben}},</b>
        <b *ngIf="pastgame.gameid<6 && pastgame.schneider">schneider,</b>
        <b *ngIf="pastgame.gameid<6 && pastgame.schneiderangesagt">schneider angesagt,</b>
        <b *ngIf="pastgame.gameid<6 && pastgame.schwarz">schwarz,</b>
        <b *ngIf="pastgame.gameid<6 && pastgame.schwarzangesagt">schwarz angesagt,</b>
        <b *ngIf="pastgame.gameid<7 && pastgame.offen">offen,</b>
        <b *ngIf="pastgame.gameid<7 && pastgame.hand">hand,</b>
        <b *ngIf="pastgame.gameid<7 && pastgame.lost">verloren</b>
      </p>
      <p>{{pastgame.datetime}}</p>
      <ion-icon name="trash" color="danger" item-end (click)="removeGame(pastgame.key)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
